{% extends 'base.html' %}

{% block content %}
<style>
    .btn-group {
        width: 100%;
        margin: 0 auto;
    }
</style>
<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
      <h1 class="display-4">Stats Menu</h1>
      <p class="lead">We offer interactive plots and Fantasy Premier League advice.</p>
      <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="List of Buttons for interactive plots">
          <div class="btn-group mr-2 bg-light" role="group" aria-label="First group">
              <button type="button" class="btn btn-primary">
                  <a href="{% url 'stats:polar_scatter' %}" class="text-white">Scatter Polars</a>
              </button>git 
              <button type="button" class="btn btn-primary">
                  <a href="#" class="text-white">Best Transfer Picks</a>
              </button>
              <button type="button" class="btn btn-primary">
                  <a href="#" class="text-white">Premier League Standings</a>
              </button>
          </div>
      </div>
    </div>
  </div>

{% endblock %}