{% extends 'base.html' %}

{% block content %}

<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
      <h1 class="display-4">Stats Menu</h1>
      <p class="lead">Choose an interactive plot from the list below:</p>
      <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="List of Buttons for interactive plots">
          <div class="btn-group mr-2 bg-light" role="group" aria-label="First group">
              <button type="button" class="btn btn-primary">
                  <a href="{% url 'stats:polar_scatter' %}" class="text-white">Scatter Polar of Goals</a>
              </button>
              <button type="button" class="btn btn-primary">
                  <a href="#" class="text-white">Defence Ability</a>
              </button>
              <button type="button" class="btn btn-primary">
                  <a href="#" class="text-white">Goalkeeper Ability</a>
              </button>
          </div>
      </div>
    </div>
  </div>

{% endblock %}