{% extends 'base.html' %}
{% block content %}
        <div class="jumbotron text-center">
            <h1>Welcome to Your Premier League News</h1>
            {% if hide %}
                <p> 
                    Sorry, no news for the next
                    {{ next_scrape }} hours. 
                </p>
            {% else %}
                <form method="post" action= {% url 'news:scrape' %}>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Get News</button>
                </form>
            {% endif %}   
        </div>
        <div class="container-fluid">
            {% for obj in headlines %}
                {% if obj.image %}
                    <div class="row justify-content-center">  
                        <div class="col-med-6 text-center">
                            <div class="card text-center" style="width: 100%;">
                                <div class="card-body">
                                    <img class="card-img-top" src= "{{ obj.image.url }}">
                                    <h5 class="card-title"><a href="{{ obj.url }}">{{ obj.title }}</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
{% endblock %}