header {
    background-color: rgb(234, 253, 255);
}

.nav-link {
    color:  rgb(1, 86, 107);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
}

.nav-link:hover {
    color: black;
    font-size: 15px;
}

.navbar-brand {
    color: rgb(1, 86, 107);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    transition: 0.3s;
}

.navbar-brand:hover {
    color: black;
}

.disabled {
    color: rgb(211, 211, 211);
}

.navbar-toggler-icon {
    background-image: url( 
        "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(234, 253, 255,0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
}
